body{
  background:#778899;
  font-family:sans-serif;
  margin:0;
  color: white;
}
.box{
  width:350px;
  height:650px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 40px;
  align-content: center;
  text-align:center;
  background:black;
  }
  .box h1{
    color:white;
    text-align: center;
  }
  .box input{
    border-radius: 20px;
    background: none;
    color:white;
    outline: none;
    border: 2px solid #e3eaa7;
    height: 24px;

   }
   .button{
     width:90px;
    }
   a:hover {
     color: red;
     background-color: transparent;
     text-decoration: underline;
   }
